elpa/
elpa-*/
site-lisp/

auto-save-list/
backups/
games/
request/
server/
snippets/
themes/
url/

eshell/
tramp/

\#*
*~

.recentf*
.smex-items

network-security.data
projectile-bookmarks.eld
bookmarks
cider-history
ido.last
places
.elc
/ac-comphist.dat
.python-environments/
persp-confs/
projectile.cache
